<launch>
  <arg name="team" default="1"/>
 
  <!-- Spawn robot in simulator -->
  <include file="$(find hockeysimulator)/launch/pioneer3dx_soccer.gazebo.launch">
     <arg name="robot_name" value="robot$(arg team)" />
     <arg name="robot_position" value="-x -5.0 -y 0.0 -z 0.01 -R 0 -P 0 -Y 0" />
     <arg name="rviz" value="1" />
   </include>

  <!-- KI node controlling the robot -->
  <group ns="robot$(arg team)">
	<node pkg="player" name="ki" type="player_node" output="screen">
		<remap from="cmd_vel" to="/gazebo/robot$(arg team)/cmd_vel"/>
	</node>
  </group>

</launch>
